[Desktop Entry]
Type=Application
Name=GDM Settings
Comment=Change Settings of Gnome Display/Login Manager
Icon=org.gtk.GdmSettings
Exec=gdm-settings
TryExec=gdm-settings
Terminal=false
StartupNotify=false
StartupWMClass=org.gtk.GdmSettings
Categories=GNOME;GTK;System;Settings;DesktopSettings;
Keywords=Login;
